:root {
    --main-bg-color: #EBEBEB;
    --input-color: #C5C5C5;
    --button-font-color: #000000;
    --button-anzahl-aufgaben-color: #FFFFFF;
}


body {
    background-color: var(--main-bg-color);
    margin: 0 auto !important;
}

.tasks {
    text-align: center;
    margin-top: 10%;
    position: absolute;
    right: 1%;
    left: 1%;
    white-space: nowrap;
}


.tasks li {
    margin-bottom: 3%;
}

.tasks ul p {
    margin-top: 2%;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-header {
    font-weight: 700;
}

.button-active {
    opacity: 0.5;
}
#boards {
    width: 300px;
    height: 50px;
    box-shadow: 5px 10px 5px #888888;
}

.timeButtons button {
    background-color: var(--button-anzahl-aufgaben-color);
    border-radius: 25px !important;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
    margin-bottom: 5%;
}

.timeButtons {
    display: block;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.fa-arrow-circle-left {
    font-size: 30px;
    color: gray;
}

.btn-gray {
    color: black;
    background-color: lightgray;
    border-color: gray;
}

#hideTasks {
    position: absolute;
    left: 0;
    top: 0;
}

.task_card {
    margin-bottom: 3%;
}

div.collapsed {
    border-bottom: 0;
}

a:hover {
    color: black;
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.18);
}

.card-header, .card, .card-footer {
    border-radius: 25px !important;
}

.card-header-rounded {
    background: none;
    border: none;
}

#tasks {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: var(--main-bg-color);
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: 1s ease;
}

.show {
    width: 100% !important;
    left: 0 !important;
    margin-right: 0;
    margin-left: 0;
}

#task_today, #task_tomorrow {
    background-color: var(--main-bg-color);
}

.checkbox-title {
    font-weight: 500;
}

.modal-body {
    text-align: center;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.description-modal-unchecked {
    font-weight: 500;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}
