<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Datenschutzerklärung</title>
</head>
<body>
<object data="datenschutzerklaerung.pdf" style="width:100%;height:100%">
    <a href="datenschutzerklaerung.pdf">PDF laden</a>
</object>
</body>
</html>

