{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/login_style.css">

{% endblock %}
{% block body %}
    {% block header %}{% endblock %}
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="img/icon.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="/" method="POST" >
            <input type="email" name="email" id="email" class="form-control" placeholder="E-Mail Adresse" required autofocus>
            <input type="password" name="password" id="password" class="form-control" placeholder="Passwort" required>
            <div class="alert alert-dark alert hidden" role="alert" id="alertLogin">
                Username oder Passwort ist falsch, bitte überprüfen Sie Ihre Eingabe!
            </div>
            <button class="btn btn-gray" type="submit">Log-in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Passwort vergessen?
        </a>
    </div><!-- /card-container -->
{% endblock %}
{% block javascripts %}
    <script src="js/script.js"></script>
    <script src="js/finishTasks.js"></script>

{% endblock %}
