<!DOCTYPE html>
<head>
    <title></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!---->
    <style>

    </style>

</head>
<div class="container-fluid">
    <div class="timeButtons">
        <span><button id="btn_today">Heute</button></span><br>
        <span><button id="btn_tomorrow">Morgen</button></span>
    </div>
    <div class="row">
        <div class="col-md-12 hide_tasks">
            <a href="#" class="btn btn-sm btn-default" id="hideTasks"><i class="fas fa-arrow-circle-left"></i></a>
            <ul class="tasks container" id="task_today">
                <div class="card text-center">
                    <div class="card-header">
                        TITLE
                    </div>
                    <div class="card-body">
                        <p class="card-text">BESCHREIBUNG</p>
                        <ul>
                            <li>CHECK 1</li>
                        </ul>

                    </div>
                    <div class="card-footer text-muted">
                        <a href="#" class="btn btn-primary">FINISH</a>
                    </div>
                </div>
            </ul>
            <div class="tasks container" id="task_tomorrow">
                <div class="card text-center">
                    <div class="card-header">
                        TITLE
                    </div>
                    <div class="card-body">
                        <p class="card-text">BESCHREIBUNG</p>
                        <ul>
                            <li>CHECK 1</li>
                        </ul>

                    </div>
                    <div class="card-footer text-muted">
                        <a href="#" class="btn btn-primary">FINISH</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
