<!DOCTYPE html>
<head>
    <title>Tasks</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!---->
    <style>

    </style>

</head>
<div class="container-fluid">
    <div class="timeButtons">
        <span><button id="btn_today">Heute</button></span><br>
        <span><button id="btn_tomorrow">Morgen</button></span>
    </div>
    <div class="row">
        <div class="col-md-12 hide_tasks">
            <a href="#" class="btn btn-sm btn-default" id="hideTasks"><i class="fas fa-arrow-circle-left"></i></a>
            <div class="tasks container" id="task_today">
                <div class="card text-center task_card">
                    <div class="card-header collapsed" style="cursor:pointer;" data-toggle="collapse" href="#task_0"
                         aria-controls="task_0">
                        TITLE
                    </div>
                    <div class="collapse" id="task_0">
                        <div class="card-body ">
                            <p class="card-text">BESCHREIBUNG</p>
                            <ul>
                                <p>CheckListe 1</p>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_0" disabled>
                                        <label class="custom-control-label" for="checkBox_0">Default unchecked</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-gray">FINISH</a>
                        </div>
                    </div>
                </div>
                <div class="card text-center task_card">
                    <div class="card-header collapsed" style="cursor:pointer;" data-toggle="collapse" href="#task_1"
                         aria-controls="task_0">
                        TITLE
                    </div>
                    <div class="collapse" id="task_1">
                        <div class="card-body ">
                            <p class="card-text">BESCHREIBUNG</p>
                            <ul>
                                <p>CheckListe 1</p>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_1" disabled>
                                        <label class="custom-control-label" for="checkBox_1">Default unchecked</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-gray">FINISH</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tasks container" id="task_tomorrow">
                <div class="card text-center task_card">
                    <div class="card-header collapsed" style="cursor:pointer;" data-toggle="collapse" href="#task_2"
                         aria-controls="task_2">
                        TITLE
                    </div>
                    <div class="collapse" id="task_2">
                        <div class="card-body ">
                            <p class="card-text">BESCHREIBUNG</p>
                            <ul>
                                <p>CheckListe 1</p>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_2" disabled
                                               checked>
                                        <label class="custom-control-label" for="checkBox_2">Default unchecked</label>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <p>CheckListe 2</p>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_5" disabled>
                                        <label class="custom-control-label" for="checkBox_5">Default unchecked</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_7" disabled
                                               checked>
                                        <label class="custom-control-label" for="checkBox_7">Default unchecked</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_8" disabled>
                                        <label class="custom-control-label" for="checkBox_8">Default unchecked</label>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <p>CheckListe 3</p>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_6" disabled>
                                        <label class="custom-control-label" for="checkBox_6">Default unchecked</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-gray">FINISH</a>
                        </div>
                    </div>
                </div>
                <div class="card text-center task_card">
                    <div class="card-header collapsed" style="cursor:pointer;" data-toggle="collapse" href="#task_3"
                         aria-controls="task_3">
                        TITLE
                    </div>
                    <div class="collapse" id="task_3">
                        <div class="card-body ">
                            <p class="card-text">BESCHREIBUNG</p>
                            <ul>
                                <p>CheckListe 1</p>
                                <li>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox_3" disabled>
                                        <label class="custom-control-label" for="checkBox_3">Default unchecked</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-gray">FINISH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
